.gameMarquee {
    display: block;
    width: 500px;
    margin: 0 auto 40px;
}

.scoresHeader,
.scoresContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    column-gap: 20px;
}

.scoresContainer {
    list-style: none;
    margin: 0;
    padding: 0;
}

.scoresContainer li {
    color: #ffffff;
    margin-bottom: 20px;
}
