.gameGrid {
    column-gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    margin: 0;
    padding: 0;
    row-gap: 30px;
}

.gameLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    position: relative;
}

.gameLink::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity ease .4s, background-color ease .4s;
    z-index: 2;
}

.gameLink:hover::before {
    background-color: var(--link-color-hover);
    opacity: .2;
}

.gameTitle {
    margin-top: 10px;
    text-align: center;
}
